<html>
    <title>
        Image Share - Upload
    </title>
    <link rel = "stylesheet" type = "text/css" href = "style.css"/>
    <body>
        <h1>Image Share</h1>
        <nav>
            <div class = "navigation">
                <a href = "/">Home</a>
                <a href = "/create">Upload</a>
                <a href = "/search">Search</a>
                <a href = "/profile/<%= name %>">Profile</a>
                <a href = "/logout" style = "float: right">Logout</a>
            </div>
        </nav>
                  
            <% if (msg) { %>
                <% if (msg.startsWith('Error')) { %>
                    <p style="color: red;"><%= msg %></p>
                <% } else { %>
                    <p style="color: green;"><%= msg %></p>
                <% } %>
            <% } %>
                
            <h3>Upload Photo</h3>
            <form action="/create" method="POST" enctype="multipart/form-data">
                <input type="file" name="photo" required><br>
                <br><br>
                <input type="submit" value="Upload">
            </form>

            <% if (photo) { %>
                <h3>Uploaded Photo: </h3>
                <p>Click the photo to view the full post.</p>
                <a href = "/post/<%= photo._id %>"><img src = "data:image/jpeg;base64,<%= photo.data %>" width="300px"></a>
            <% } %>
    </body>
</html>